.breadcrumbs {
    margin-bottom: 2rem;
    display: none;
    @include desktop {
        display: block;
        table,
        tbody,
        tr,
        td {
            display: block;
        }
    }
}

/*
=========================
SEARCH FILTERS
=========================
*/
.breadcrumbs tr:nth-child(2) td {
    display: flex;

    select {
        border: 1px solid $medium-gray;
    }

}

/*
=========================
SORTING FILTERS
=========================
*/
.breadcrumbs + table {
    select {
        border: 1px solid $medium-gray;
    }
}

.search_results_section {
    table:first-child {
        margin-bottom: 1rem;
    }
}


td[background="/v/vspfiles/templates/gfp-test/images/Grid_Single_Divider_Horiz.gif"] {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}