.breadcrumbs {
    margin-bottom: 2rem;
    display: none;
    @include desktop {
        display: block;
        table,
        tbody,
        tr,
        td {
            display: block;
        }
    }
}

.breadcrumbs .colors_backgroundneutral {
    background-color: #f0f0f0;
    border: 1px solid $medium-gray;
    padding: 1rem;

    font {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 0.9rem;
        line-height: 1.5;
    }

    img[src*="/v/vspfiles/templates/gfp-test/images/Bullet_SubCategory.gif"] {
        display: none;
    }

    table:nth-child(2) table tbody {
        display: flex;
        flex-wrap: wrap;
        
        tr {
            flex-basis: 33%;
        }

        a {
            text-decoration: none;
            color: $brand;
            &:hover {
                text-decoration: underline;
            }
        }

    }

    .colors_backgroundlight {
        display: none;
    }

}



/*
=========================
SEARCH FILTERS
=========================
*/
.breadcrumbs tr:nth-child(2) td {
    display: flex;

    select {
        border: 1px solid $medium-gray;
    }

}

/*
=========================
SORTING FILTERS
=========================
*/
.breadcrumbs + table {
    select {
        border: 1px solid $medium-gray;
    }
}

.search_results_section {
    table:first-child {
        margin-bottom: 1rem;
    }
}