.breadcrumbs {
    border: 1px solid red;
    display: none;
    @include desktop {
        display: block;
        table,
        tbody,
        tr,
        td {
            display: block;
        }
    }
}