* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

button {
    cursor: pointer;
}

#content_area {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

img {
    max-width: 100%;
}