html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  color: $black;
}

address {
    font-style: unset;
}

.h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

a {
  color: $brand;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}