.account-page #content_area {
    position: absolute;
    display: none;
}

.account-page .hero + section {
    padding: 3rem 0;
}

#gfp-account-details {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: calc((100%/3));
        padding-right: 2rem;
        margin-bottom: 2rem;
        
        &:nth-child(2n) {
            padding-right: 0;
        }

    }

    @supports (display: grid) {
        display: grid;
        justify-content: center;
        grid-gap: 2rem;
        @include tablet {
            grid-template-columns: repeat(2, 400px);
        }

        > * {
            padding-right: 0;
            margin-bottom: 0;
        }

    }

    .btn-outline--brand-two {
        text-align: center;
    }

}