#v65-onepage-CheckoutForm,
#v65-onepage-CheckoutForm * {
  box-sizing: border-box !important;
  width: 100% !important;
}

#v65-onepage-CheckoutForm #v65-onepage-DetailHeaders {
  display: none;
}

#v65-onepage-CheckoutForm #v65-onepage-Detail > tbody {
  display: block;
  
  > tr:nth-child(2) {
    display: flex;
    flex-direction: column;
    
    td {
      width: 100% !important;
      flex: 1;
    }

  }

  > tr:nth-child(2) > td:first-child {
    border-right: 0 !important;
    &:before {
      content: 'Billing';
      font-weight: bold;
      font-size: 1.5rem;
      background-color: $brand;
      color: #fff;
      width: calc(100% - 2rem);
      display: inline-block;
      padding: 1rem;
    }
  }

  > tr:nth-child(2) > td:last-child {
    &:before {
      content: 'Shipping';
      font-weight: bold;
      font-size: 1.5rem;
      background-color: $brand;
      color: #fff;
      width: 100%;
      display: block;
      padding: 1rem;
    }
  }

}

#v65-onepage-BillingParent {
  width: 100% !important;
}

#v65-onepage-Billing > tbody > tr,
#v65-onepage-Shipping > tbody > tr {
  display: flex;
  > td:nth-child(2) {
    flex-grow: 2 !important;
  }
}

.v65-onepage-newsletter-row {
  display: flex;
}

#v65-onepage-newsletter-text-cell {
  flex-grow: 20 !important;
}