.panel-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    text-align: center;
    img {
        max-width: 100px;
        margin-bottom: 0.5rem
    }
    p:last-child {
        font-size: 0.85rem;
    }
}

.panel-body > div {
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    padding: 1rem;
}

.v65-productDisplay tr:nth-child(6n-3) {
    
    table {
        position: relative;
    }
    
    a {
        position: absolute;
        right: 0;
    }

}


.v65-productDisplay tr:nth-child(6n) td {
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.v65-productDisplay .productnamecolor {
    text-decoration: none;
    font-size: 1.4rem;
    color: $brand;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.v65-productDisplay .smalltext.colors_text {
    display: block;
}

.v65-productDisplay img[src*="/v/vspfiles/templates/gfp-test/images/Bullet_MoreInfo.gif"] {
    display: none;
}