.v65-post-breadcrumb-br {
    display: none;
}

#v65-cart-coupon-entry-table {
    width: 100%;
}

#v65-cart-coupon-entry-details-div {
    display: flex;
    align-items: center;
    // text-align: left;

    img[src*="/a/i/blank.gif"] {
        display: none;
    }

    > * {
        flex: 1;
    }

    #v65-cart-coupon-entry-details-input {
        flex: 2;
        margin-right: 2rem;
    }

}

#v65-cart-coupon-entry-details-button,
#btnRecalculate {
    width: 100%;
    max-width: 75px;
    margin-top: 0.5rem;
    border: 0;
}

#btnRecalculate {
    max-width: 105px;
}

#v65-cart-table,
#v65-cart-moreItems {
    width: 100% !important;
}

#v65-cart-table .v65-cart-shipping-details-parent-cell {
    display: none;
}

#v65-cart-shipping-details select {
    border: 1px solid #ccc;
    width: 100%;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

#cart-header > .v65-cart-header-cell {
    // border-top: 1px solid $medium-gray;
    // border-bottom: 1px solid $medium-gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: $brand-two;
    color: #fff;
}

#v65-cart-table .v65-cart-details-row:nth-child(4n-2) {
    background-color: #f0f0f0;
}

.v65-cart-item-remove-image {
    max-width: 20px;
}

.v65-cart-details-row,
.v65-cart-details-separator,
.v65-cart-giftcert-details-row {
    > td:first-child {
        border-left: 1px solid $medium-gray;
    }
    > td:last-child {
        border-right: 1px solid $medium-gray;
    }
}

.v65-cart-details-cell a {
    text-decoration: none;
    color: $brand;
    &:hover {
        text-decoration: underline;
    }
}

.v65-cart-shipping-details-row {
    border-top: 1px solid $medium-gray;
    > td {
        padding-top: 1rem;
    }
}

#v65-cart-checkout-header-row {
    display: none;
}

#v65-cart-checkout-parent {
    .v65-checkout-spacer-row,
    .v65-checkout-details-row {
        display: none;
    }
}

#v65-checkout-guest-cell,
#PayPalButton {
    text-align: center;
    @include tablet {
        text-align: right;
    }
}

#v65-checkout-login-button-cell {
    display: none;
}

#v65-onepage-ContentTable {
    width: 100%;
}

#vcb-editable-116 {
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: $brand-two;
    color: $brand;
    text-align: center;
    @include desktop {
        font-size: 1.3rem;
        padding: 1.5rem 7rem;
    }
}

#vcb-editable-116 ul {
    list-style-type: none;

    br {
        display: none;
    }
}

#v65-onepage-Billing td,
#v65-onepage-Shipping td {
    padding: 0.5rem 1.5rem;
    &:first-child {
        padding-right: 0;
    }
    &:last-child {
        padding-left: 0;
    }
}

.PageText_L532n {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    margin-top: 2rem;   
}

// #v65-onepage-Detail {
//     position: absolute;
//     opacity: 0;
// }


#v65-onepage-ordersummary-items {
    width: 100% !important;
}

#gfp-responsive-checkout {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }

    .order-details, 
    .order-totals {
        flex: 1;
    }

    .order-details {
        @include tablet {
            padding-right: 1.5rem;
        }
    }

    .order-totals {
        @include tablet {
            padding-left: 1.5rem;
        }
    }

    section {
        border: 1px solid $medium-gray;
        border-radius: 5px;
        background-color: $light-gray;
        box-shadow: 6px 6px 12px -6px rgba(black, 0.1);
        margin-bottom: 3rem;
        padding: 0.5rem;
        @include desktop {
            padding: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        background-color: $brand;
        color: #fff;
        text-align: center;
        padding: 0.5em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        left: -0.5rem;
        top: -0.5rem;
        width: calc(100% + 1rem);
        @include desktop {
            left: -1.5rem;
            top: -1.5rem;
            width: calc(100% + 3rem);
        }
    }

    img {
        max-width: 100%;
        display: block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

}

.v65-onepage-ordersummary-itemcode {
    display: none;
}

#ShipToSelectTable {
    #ship-to-options-table {
        margin: 0 auto;
    }
}

#v65-onepage-Billing,
#v65-onepage-Shipping,
#v65-onepage-additional-info,
#v65-onepage-ShippingCostParent {
    width: 100%;
    font-size: 0.85rem;
    input[type="text"] {
        width: 100%;
    }

}

#v65-onepage-Shipping {
    border: 0;
    box-shadow: none;
}

#v65-onepage-newsletter-checkbox {
    margin-right: 0.5rem;
}

.v65-onepage-shippingcost-detail,
.v65-onepage-shippingcost-label {
    font-size: 0.9em;
}

#SessionShippingAddressDiv {
    display: none;
}

#v65-cart-table-container .beforeArticleBR {
    display: none;
}

#v65-cart-table input {
    padding: 0.25rem;
    text-align: center;
}

#v65-cart-table #v65-cart-shippingcalc-parent-cell {
    display: none;
}

.v65-cart-item-remove-cell {
    font {
        display: flex;
        align-items: center;
    }
    br {
        display: none;
    }
    img {
        margin: 0 0.25rem;
    }
    a {
        text-decoration: none;
        color: $brand;
        &:hover {
            text-decoration: underline;
        }
    }
}

#div_articleid_101 .checkout ul li:first-child {
    display: none;
}

#gfp-responsive-cart table {
    width: 100%;
    border: 1px solid $medium-gray;
    box-shadow: 4px 4px 8px -4px rgba(black, 0.1);

    tr {
        // display: flex;
        // align-items: center;
        th,
        td {
            flex: 1;
        }
    }
    
    th {
        display: none;
        padding: 1rem 0.5rem;
        background-color: $brand-two;
        color: #fff;
        text-transform: uppercase;
        @include desktop {
            display: table-cell;
        }
    }
    
    tbody tr:nth-child(2n) td {
        @include desktop {
            background-color: #f0f0f0;
        }
        
        &:first-child {
            border-top: 1px solid $medium-gray;
            @include desktop {
                border-top: 0;
            }
        }
        
        &:last-child {
            border-bottom: 1px solid $medium-gray;
            @include desktop {
                border-bottom: 0;
            }
        }

    }
    
    td {
        display: block;
        text-align: center;
        padding: 0.5rem;
        @include desktop {
            display: table-cell;
        }
    }

    input {
        text-align: center;
    }

    .gfp-responsive-cart--product-description {
        @include desktop {
            text-align: left;
            width: 50%;
        }
    }

}

#v65-cart-checkout-table {
    width: 100% !important;
}

.alternate-payment.paypal {
    max-width: unset !important;
}

.alternate-payment.paypal + table {
    width: 100% !important;
}

// .v65-error-list-wrapper {
//     display: none;
// }

p.cart-subtotal {
    text-align: center;
    padding-top: 2rem;
    @include desktop {
        text-align: right;
        padding-right: 5rem;
    }
}

.cart-totals-fixed .order-totals-container {
    position: fixed;
    width: 100%;
    top: 0;
}

.order-totals-container {
    .v65-onepage-ordersummary-itemprice {
        display: none;
    }
}

.order-totals-container textarea {
    width: 100%;
}

#CalcShippingDiv input {
    font-size: 0.9rem !important;
    border: 0;
    @include solidButton($brand-two, $c: $brand);
}

#v65-onepage-ShippingCostHeader {
    display: none;
}

#v65-onepage-ordersummary-items {
    margin-bottom: 1rem;
    border-bottom: 1px solid $medium-gray;
    tr:last-child td {
        padding-bottom: 1rem;
    }
}

.order-totals-container .agreements td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.order-totals-container .agreements td[align="right"] {
    text-align: left !important;
    font-size: 0.85em;
}

input[name="btncalc_shipping"] {
    display: none !important;
}

.order-totals-container #btnSubmitOrder {
    display: block;
    margin: 0.5rem auto 0;
}

.v65-onepage-ordersummary-itemname,
.v65-onepage-ordersummary-itemqty,
.v65-onepage-ordersummary-itemtotal {
    font-size: 0.85rem;
}

#v65-onepage-ordercomments-row,
#v65-onepage-ordercomments-label {
    display: block;
}

#v65-onepage-ordercomments-label font {
    font-style: italic;
}

#v65-onepage-ordercomments-label br {
    display: none;
}

#v65-onepage-payment-details-parent-table {
    font-size: 0.85rem;
}

#v65-onepage-payment-details-parent-table input {
    width: 100%;
}

#span_paymentfields_purchase_order_number,
#span_paymentfields_credit_card {
    padding: 1.5rem 1.5rem 1.5rem 0;
    background-color: rgba(black,.1);
    margin-top: 1rem;
    border-radius: 0 0 5px 5px;
    position: relative;
    left: -1.5rem;
    width: calc(100% + 3rem);
    margin-bottom: -1.5rem;
}

#span_paymentfields_credit_card td {
    width: 50% !important;
    white-space: normal;
    padding-top: 0.5em;
}

#span_paymentfields_credit_card > table > tbody > tr:first-child td {
    padding-top: 0;
}

.v65-payment-details-label-cell a {
    display: none;
}

#span_paymentfields_credit_card > table > tbody > tr:nth-child(6) td:first-child {
    display: none;
}

#span_paymentfields_credit_card > table > tbody > tr:nth-child(6) td:last-child {
    width: 100% !important;
}

// #v65-onepage-ordercomments-row {
//     display: none;
// }

#v65-onepage-ordercomments-input {
    padding: 0.25rem;
}

#CC_ExpDate select {
    width: auto;
    display: inline-block;
    max-width: calc(50% - 0.5rem);
}

#v65-onepage-payment-details-parent-row #span_paymentfields_purchase_order_number .v65-payment-details-label-cell {
    padding-right: 0.5rem;
}