// .order-page .hero {
//     position: absolute;
//     padding: 0 !important;
//     opacity: 0;
//     display: none;
// }

.gfp-order-list ul {
    list-style-type: none;
}

.gfp-order-list li {
    border-bottom: 1px solid $medium-gray;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 300px 1fr;
    
    &:first-child {
        padding-top: 0;
    }
    
    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

}

.order-page #content_area form table {
    width: 100% !important;
}

.order-page #content_area form .colors_lines_light .colors_backgroundneutral > td {
    padding-top: 3rem;
    padding-bottom: 3rem;
    vertical-align: top;
    border-bottom: 1px solid $medium-gray;
}

.order-page #content_area form .colors_lines_light .colors_backgroundneutral:last-child > td {
    border-bottom: 0;
}

.order-page #content_area form .colors_lines_light .colors_backgroundneutral > td table td {
    width: calc(100% / 6);
    &:first-child {
        width: calc((100% / 3) * 2);
    }
}

.order-page #content_area form .colors_lines_light .colors_backgroundneutral > td table tr {
    td {
        font-size: 0.85rem;
    }
    &:first-child td {
        font-size: 1rem;
    }
}