.single-product #content_area {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.single-product span[itemprop="description"] ul {
    padding-left: 1rem
}

.single-product .hero {
    position: absolute;
    padding: 0 !important;
    opacity: 0;
    display: none;
}

.vCSS_img_larger_photo {
    max-width: 30px;
    max-height: 30px;
}

// #ProductDetail_TechSpecs_div,
// #ProductDetail_ExtInfo_div {
//     display: block !important;
// }

.single-product #v65-productdetail-action-wrapper,
.single-product #v65-productdetail-action-wrapper ~ td {
    display: block;
}

#product_reviews_description_box img[src*="/v/vspfiles/templates/gfp-test/images/buttons/btn_reviews"] {
    max-height: 30px;
}

#product_reviews_description_box {
    background-color: $light-gray !important;
    border: 1px solid $medium-gray !important;
    td {
        padding: 0.5rem;
    }
    > tbody > tr:first-child > td,
    > tbody > tr:last-child > td {
        display: none;
    }
    > tbody > tr:nth-child(2) > td {
        padding-top: 1rem;
    }
    > tbody > tr:nth-child(2) > td {
        padding-bottom: 1rem;   
    }
    > tbody > tr:nth-child(2) > td {
        border-top: 1px solid $medium-gray;
        border-bottom: 1px solid $medium-gray;
    }
}

#sb-wrapper-inner {
    height: auto !important;
}

#sb-body {
    border-color: $medium-gray !important;
    box-shadow: 6px 6px 8px -4px rgba(black, 0.1);
    margin-top: 1rem;
}

#sb-body-inner,
#sb-player {
    position: static !important;
}

#sb-body-inner img {
    display: block !important;
}

#gfp-related-products {
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 4px 4px 8px -4px rgba(black, 0.1);
}

#gfp-related-products h3 {
    text-align: center;
    color: $brand;
    margin-bottom: 1.5rem;
    @include tablet {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.single-product #v65-product-parent tr table table table td:first-child table {
    margin-top: 1rem;
}

.single-product #Header_ProductDetail_ProductDetails,
.single-product #Header_ProductDetail_TechSpecs {
    display: none;
}

.vp-product-title {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
    margin-left: 0.5rem;
}

#product_photo_zoom_url img {
    max-width: 100%;
    @include desktop {
        max-width: 350px;
    }
}

#v65-product-parent > tbody > tr:nth-child(2) > td {
    display: block;
    @include tablet {
        display: table-cell;
        padding-top: 1rem;
        &:first-child {
            width: 350px;
            padding-right: 1rem;
        }
    }
}

#v65-productdetail-action-wrapper {
    @include tablet {
        display: table-cell !important;
        padding-left: 2rem;
    }
}

#v65-productdetail-action-wrapper table {
    width: 100%;
}

#v65-productdetail-action-wrapper table:first-child td {
    display: block;
}

#v65-productdetail-action-wrapper .v65-productdetail-cartqty {
    text-align: center;
    width: 70%;
    padding: 0.25em;
    margin-bottom: 1em;
}

#gfp-fitment {
    padding-left: 1rem;
    padding-top: 0.5rem;
    
    li {
        margin-bottom: 0.5rem;
    }

}

#v65-product-reviews {
    margin-top: 3rem;
}

.featured-image-fixed .featured-image-parent {
    @include desktop {
        position: fixed;
        top: 0;
    }
}

.featured-content-container {
    text-align: left;
}

.gfp-product-description,
.gfp-product-tech-specs,
.gfp-product-extinfo {
    margin-top: 2rem;
    ul {
        padding-left: 1rem;
    }
}

#v65-productdetail-action-wrapper > table {
   text-align: left !important;
}

.single-product--free-shipping-container {
    border: 1px solid red;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(255,0,0,0.05);
    margin-top: 1.5rem;
}

.single-product--free-shipping-container img {
    max-width: 45px;
    margin-right: 1rem;
}