.search-bar-container {
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: $brand-two;
}

.hero .search-bar-container form:before {
    max-width: 20px;
    max-height: 20px;
}

.hero .search-bar-container form:after {
    border-radius: 0;
}

.search-bar-container form input {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 0.5rem;
    border: 0;
    font-size: 0.75rem;
    border-radius: 0;
}